* 									{ margin: 0; padding: 0; }
#page-wrap							{ width: 800px; margin: 25px auto; } 
a									{ text-decoration: none; }
ul									{ list-style: none; }
p                                   { margin: 15px 0; }

/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative;z-index:2; }
ul.dropdown li                      { font-weight: bold; float: left; background-image:url(../images/menu_BG.gif);
										background-repeat:repeat-x;}
/*ul.dropdown a:hover		            { color: #b31b1b; }
ul.dropdown a:active                { color: #b31b1b; }*/
ul.dropdown li a                    { display: block; padding: 6px 8px;
	 								  color: #b31b1b; margin-right:5px;}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F5F5F5; color: #b31b1b; position: relative; }

/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 180px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #94948f; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block;} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }