body {
    color: #000000;
    font-family: "Calibri", Arial, sans-serif;
    font-size: 0.8em;
    height: 100%;
}

ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start: 0px;
}

.building-name {
	font-size: 22px;
	font-weight: bold;
	position: relative;
}
			
.building-date {
	font-size: 18px;
	font-weight: bold;
}

.building-desc {
	font-size: 14px;
	font-style: italic;
}

.antiscroll-inner p:first-child {
	margin-top: 0;
}

.antiscroll-inner p:last-child {
	margin-bottom: 0;
}

table {
	border-spacing: 0;
}

.gallery td {
	padding-right: 15px;
	padding-bottom: 10px;
	display: none;
}

.list {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #000;
}

.list a {
	text-decoration: none;
}

.info1 {
	font-size: 0.6em;
}