body {
    color: #000000;
    font-family: "Calibri", Arial, sans-serif;
    font-size: 0.8em;
    overflow: hidden;
}

ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start: 0px;
}

.building-name {
	font-size: 22px;
	font-weight: bold;
	position: relative;
}
			
.building-date {
	font-size: 18px;
	font-weight: bold;
}

.building-description {
	font-size: 14px;
	font-style: italic;
}

.closeButton {
	display: inline;
	background-color: #b31b1b;
	color: white;
	width: 60px;
	height: 30px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	left: 330px;
	top: 7px;
}

.antiscroll-inner p:first-child {
	margin-top: 0;
}

.antiscroll-inner p:last-child {
	margin-bottom: 0;
}

table {
	border-spacing: 0;
}

.gallery td {
	padding-right: 15px;
	padding-bottom: 10px;
	display: none;
}

.list {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #000;
}

.list a {
	text-decoration: none;
}

.info1 {
	font-size: 0.6em;
}

#audioList {
	border-top: 1px dashed #000;
}

.greystone {
	position: relative;
	left: 470px;
	top: 350px;
}

.stPeters {
	position: relative;
	left: 585px;
	top: 340px;
}

.kieran {
	position: relative;
	left: 590px;
	top: 375px;
}

/* -- 1905 -- */
.greenhouse {
	position: relative;
	left: 480px;
	top: 320px;
}

.farm {
	position: relative;
	left: 170px;
	top: 470px;
}

.cemetery {
	position: relative;
	left: 80px;
	top: 420px;
}

.macpherson {
	position: relative;
	left: 590px;
	top: 210px;
}

.oldMarian {
	position: relative;
	left: 190px;
	top: 400px;
}

.cannery {
	position: relative;
	left: 100px;
	top: 390px;
}

.stMarys {
	position: relative;
	left: 100px;
	top: 355px;
}

/* -- 1930 -- */
.novitiate {
	position: relative;
	left: 80px;
	top: 440px;
}

/* -- 1946 -- */
.farm1 {
	position: relative;
	left: 195px;
	top: 470px;
}

.cemetery1 {
	position: relative;
	left: 105px;
	top: 420px;
}

.macpherson1 {
	position: relative;
	left: 615px;
	top: 210px;
}

.oldMarian1 {
	position: relative;
	left: 215px;
	top: 400px;
}

.cannery1 {
	position: relative;
	left: 125px;
	top: 390px;
}

.stMarys1 {
	position: relative;
	left: 125px;
	top: 355px;
}

.novitiate1 {
	position: relative;
	left: 105px;
	top: 440px;
}

.studyArea {
	position: relative;
	left: 295px;
	top: 310px;
}

.chapel {
	position: relative;
	left: 275px;
	top: 340px;
}

.adrian {
	position: relative;
	left: 205px;
	top: 360px;
}

/* -- 1958 -- */
.oldMarian2 {
	position: relative;
	left: 235px;
	top: 400px;
}

.cannery2 {
	position: relative;
	left: 145px;
	top: 390px;
}

.stMarys2 {
	position: relative;
	left: 145px;
	top: 355px;
}

.novitiate2 {
	position: relative;
	left: 125px;
	top: 440px;
}

.studyArea1 {
	position: relative;
	left: 315px;
	top: 310px;
}

.chapel1 {
	position: relative;
	left: 295px;
	top: 340px;
}

.adrian1 {
	position: relative;
	left: 225px;
	top: 360px;
}

.leo {
	position: relative;
	right: 95px;
	top: 350px;
}

.sheahan {
	position: relative;
	right: 120px;
	top: 385px;
}

.donnelly {
	position: relative;
	left: 200px;
	top: 410px;
}

/* -- 1970 -- */
.greystone1 {
	position: relative;
	left: 500px;
	top: 320px;
}

.stPeters1 {
	position: relative;
	left: 615px;
	top: 310px;
}

.kieran1 {
	position: relative;
	left: 620px;
	top: 345px;
}

.marian {
	position: relative;
	left: 390px;
	top: 335px;
}

.studyArea2 {
	position: relative;
	left: 420px;
	top: 300px;
}

.chapel2 {
	position: relative;
	left: 440px;
	top: 310px;
}

.leo1 {
	position: relative;
	left: 95px;
	top: 325px;
}

.sheahan1 {
	position: relative;
	left: 75px;
	top: 355px;
}

.donnelly1 {
	position: relative;
	left: 410px;
	top: 360px;
}

.mccann {
	position: relative;
	right: 40px;
	top: 400px;
}

.champagnat {
	position: relative;
	left: 75px;
	top: 335px;
}

.studentCenter {
	position: relative;
	left: 95px;
	top: 305px;
}

.dyson {
	position: relative;
	left: 400px;
	top: 240px;
}

.lowell {
	position: relative;
	left: 360px;
	top: 280px;
}

.longview {
	position: relative;
	right: 105px;
	top: 220px;
}

.lowerNew {
	position: relative;
	left: 50px;
	top: 270px;
}

.upperNew {
	position: relative;
	left: 115px;
	top: 245px;
}

.byrne {
	position: relative;
	right: 170px;
	top: 290px;
}

.fontaineAnnex {
	position: relative;
	left: 345px;
	top: 190px;
}

.steelPlant {
	position: relative;
	left: 245px;
	top: 370px;
}

.stAnns {
	position: relative;
	left: 295px;
	top: 135px;
}

/* -- 1980 -- */
.foy {
	position: relative;
	left: 70px;
	top: 225px;
}

.gartland {
	position: relative;
	left: 170px;
	top: 160px;
}

/* -- 1994 -- */
.chapel3 {
	position: relative;
	left: 465px;
	top: 310px;
}

.leo2 {
	position: relative;
	left: 120px;
	top: 325px;
}

.sheahan2 {
	position: relative;
	left: 100px;
	top: 355px;
}

.donnelly2 {
	position: relative;
	left: 435px;
	top: 360px;
}

.mccann1 {
	position: relative;
	right: 15px;
	top: 400px;
}

.champagnat1 {
	position: relative;
	left: 100px;
	top: 335px;
}

.studentCenter1 {
	position: relative;
	left: 120px;
	top: 305px;
}

.dyson1 {
	position: relative;
	left: 425px;
	top: 240px;
}

.lowell1 {
	position: relative;
	left: 385px;
	top: 280px;
}

.longview1 {
	position: relative;
	right: 55px;
	top: 220px;
}

.lowerNew1 {
	position: relative;
	left: 100px;
	top: 270px;
}

.upperNew1 {
	position: relative;
	left: 165px;
	top: 245px;
}

.byrne1 {
	position: relative;
	right: 120px;
	top: 290px;
}

.fontaineAnnex1 {
	position: relative;
	left: 395px;
	top: 190px;
}

.steelPlant1 {
	position: relative;
	left: 295px;
	top: 370px;
}

.stAnns1 {
	position: relative;
	left: 345px;
	top: 135px;
}

.foy1 {
	position: relative;
	left: 120px;
	top: 225px;
}

.gartland1 {
	position: relative;
	left: 220px;
	top: 160px;
}

.lowerwestCedar {
	position: relative;
	left: 220px;
	top: 435px;
}

.midrise {
	position: relative;
	right: 200px;
	top: 260px;
}

/* -- 2000 -- */
.greystone2 {
	position: relative;
	left: 455px;
	top: 320px;
}

.stPeters2 {
	position: relative;
	left: 570px;
	top: 310px;
}

.kieran2 {
	position: relative;
	left: 575px;
	top: 345px;
}

.marian1 {
	position: relative;
	left: 345px;
	top: 335px;
}

.chapel4 {
	position: relative;
	left: 425px;
	top: 310px;
}

.leo3 {
	position: relative;
	left: 80px;
	top: 325px;
}

.sheahan3 {
	position: relative;
	left: 60px;
	top: 355px;
}

.donnelly3 {
	position: relative;
	left: 395px;
	top: 360px;
}

.mccann2 {
	position: relative;
	right: 55px;
	top: 400px;
}

.champagnat2 {
	position: relative;
	left: 60px;
	top: 335px;
}

.studentCenter2 {
	position: relative;
	left: 80px;
	top: 305px;
}

.dyson2 {
	position: relative;
	left: 385px;
	top: 240px;
}

.lowell2 {
	position: relative;
	left: 345px;
	top: 280px;
}

.longview2 {
	position: relative;
	right: 120px;
	top: 220px;
}

.lowerNew2 {
	position: relative;
	left: 35px;
	top: 270px;
}

.upperNew2 {
	position: relative;
	left: 100px;
	top: 245px;
}

.byrne2 {
	position: relative;
	right: 185px;
	top: 290px;
}

.fontaineAnnex2 {
	position: relative;
	left: 330px;
	top: 190px;
}

.steelPlant2 {
	position: relative;
	left: 230px;
	top: 370px;
}

.stAnns2 {
	position: relative;
	left: 280px;
	top: 135px;
}

.foy2 {
	position: relative;
	left: 55px;
	top: 225px;
}

.gartland2 {
	position: relative;
	left: 155px;
	top: 160px;
}

.lowerwestCedar1 {
	position: relative;
	left: 145px;
	top: 435px;
}

.midrise1 {
	position: relative;
	right: 265px;
	top: 260px;
}

.library {
	position: relative;
	right: 120px;
	top: 300px;
}

.tenney {
	position: relative;
	right: 185px;
	top: 420px;
}

.fontaineHall {
	position: relative;
	left: 65px;
	top: 230px;
}

.fernTor {
	position: relative;
	left: 20px;
	top: 115px;
}

/* -- 2010 -- */
.greystone3 {
	position: relative;
	left: 470px;
	top: 350px;
}

.stPeters3 {
	position: relative;
	left: 580px;
	top: 340px;
}

.kieran3 {
	position: relative;
	left: 585px;
	top: 375px;
}

.marian2 {
	position: relative;
	left: 360px;
	top: 365px;
}

.chapel5 {
	position: relative;
	left: 440px;
	top: 335px;
}

.leo4 {
	position: relative;
	left: 110px;
	top: 355px;
}

.sheahan4 {
	position: relative;
	left: 85px;
	top: 385px;
}

.donnelly4 {
	position: relative;
	left: 410px;
	top: 390px;
}

.mccann3 {
	position: relative;
	right: 20px;
	top: 425px;
}

.champagnat3 {
	position: relative;
	left: 85px;
	top: 365px;
}

.studentCenter3 {
	position: relative;
	left: 105px;
	top: 330px;
}

.dyson3 {
	position: relative;
	left: 400px;
	top: 265px;
}

.lowell3 {
	position: relative;
	left: 355px;
	top: 310px;
}

.longview3 {
	position: relative;
	right: 90px;
	top: 245px;
}

.lowerNew3 {
	position: relative;
	left: 60px;
	top: 295px;
}

.upperNew3 {
	position: relative;
	left: 110px;
	top: 260px;
}

.byrne3 {
	position: relative;
	right: 150px;
	top: 315px;
}

.fontaineAnnex3 {
	position: relative;
	left: 335px;
	top: 205px;
}

.steelPlant3 {
	position: relative;
	left: 245px;
	top: 395px;
}

.stAnns3 {
	position: relative;
	left: 285px;
	top: 145px;
}

.foy3 {
	position: relative;
	left: 70px;
	top: 250px;
}

.gartland3 {
	position: relative;
	left: 160px;
	top: 175px;
}

.lowerwestCedar2 {
	position: relative;
	left: 155px;
	top: 460px;
}

.midrise2 {
	position: relative;
	right: 240px;
	top: 285px;
}

.library1 {
	position: relative;
	right: 100px;
	top: 325px;
}

.tenney1 {
	position: relative;
	right: 165px;
	top: 445px;
}

.fontaineHall1 {
	position: relative;
	left: 75px;
	top: 255px;
}

.fernTor1 {
	position: relative;
	left: 25px;
	top: 120px;
}

.hancock {
	position: relative;
	right: 185px;
	top: 290px;
}