html {
	background-color: #5c5c5c;
}

body {
	margin:0px;
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
}

#headerContainer {
	padding-top: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	width: 100%;
	text-align: center;
	background-color: #b31b1b;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #aeaea6;	
}

#header {
	background-color: #b31b1b;
	width: 960px;
	height: 95px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/maristHead.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#footerContent {
	width: 960px;
	height:30px;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
	background-position: 50% 50%;
	background-color: #5c5c5c;
}

#bodyContainer {
	text-align: center;
	background-color:#5c5c5c;
	margin-top:0px;
}

#bodyContent {
	width: 960px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-top: solid #AEAEA6 1px;
	padding-bottom: 8px;
	margin-top: 0px;
	overflow-y: hidden;

}

#mainBody {
	color: #000000;
	background-color: #FFFFFF;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	width: 920px;
	height: 700px;
    margin-left: 0px;
}

.sectionHeader {
	margin-top: 15px;
	font-size: 24px;
	font-weight: bold;
}

#sectionHeader1 {
	position: inherit;
    background-color: #FFFFFF;
    width: 940px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    border-bottom: solid #AEAEA6 1px;
}

#infoContent {
	width: 960px;
	float: left;
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
}

#fadeshow1 {
	margin-left:43%;
	margin-top: 5px;
	margin-right:3px;
	border-left: solid #e7e7e7 1px;
	border-bottom: solid #e7e7e7 1px;
	padding-bottom: 8px; 	
	height:60%;
	position:static;
	z-index:1;
}

table {
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
}

table.tbl td, table.tbl th  { padding:5px 8px; z-index: 10; border-bottom: 1px solid #000; width: 140px; text-align: center; }

table.tbl tr  { background-color: #999; z-index: 10;}

#programYears {
	font-size: 25px;
	border: none;
}

#programList {
	border: none;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

#programList.main td {
	width: 160px;
	height: 180px;
	text-align: center;
	border: none;
}

#programList.gallery td {
	width: 120px;
	height: 100px;
	padding: 5px;
	text-align: center;
	border: none;
}

h1.heading{ font-size:18px; font-weight:bold; margin-top:10px; margin-bottom:10px; text-align:center; font-family: "Calibri", Arial, sans-serif; width:350px; margin-left: auto;
margin-right: auto; color:#b31b1b;}

h2.subHeading{ font-size:14px; font-weight:bold; margin-top:10px; margin-bottom:5px; margin-left:25px; text-align:left; font-family: "Calibri", Arial, sans-serif; width:350px; 	
}

h2.subHeading1{ font-size:16px; font-weight:bold; margin-top:10px; margin-bottom:5px; margin-left:25px; text-align:left; font-family: "Calibri", Arial, sans-serif; width:350px; 	
}

h1.headline{ font-size:18px; font-weight:bold; margin-top:0px; margin-bottom:5px; margin-left:3px; text-align:left; font-family: "Calibri", Arial, sans-serif; width:275px; color:#b31b1b;}

.caption {
	border-bottom:none;
	width:85%;
	text-align:left;
	font-weight:lighter;
	color: #94948f;
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
	margin-left:25px;
	margin-top:10px;
	margin-bottom:5px;
}

/* For Collection Development links */
.captionLinks {
	border-bottom:none;
	width:85%;
	text-align:left;
	font-weight:lighter;
	color: #94948f;
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
	margin-left:25px;
	margin-right:5px;
	margin-top:0px;
	margin-bottom:0px;
}

/* For headlines */
#headlineLinks {
	border-bottom:none;
	text-align:left;
	font-weight:lighter;
	color: #94948f;
	width:275px;
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
	margin-left:0px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:0px;
	padding-left:5px;
	padding-right:0px;
	width: auto;
	background:#f8f8f8;
	margin-bottom:10px;
}

#footerLinks {
	border-bottom:none;
	text-align:left;
	font-weight:lighter;
	color: #94948f;
	width:275px;
	font-family: "Calibri", Arial, sans-serif;
	font-size: 13px;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:0px;
	padding-left:3px;
	padding-right:3px;
	width: auto;
	margin-bottom:10px;
}

a.caption1 {
	text-align:left;
	font-weight:lighter;
	color: #94948f;
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
	margin-top:10px;
	margin-bottom:5px;
}

a.caption2 {
	text-align:left;
	color: #94948f;
	font-family: "Calibri", Arial, sans-serif;
}

.tableFont { 
	margin-left:25px;
	margin-top:5px;
	margin-right:10px;
	font-family: "Calibri", Arial, sans-serif;
	font-size:14px; 
	text-align: center;
}
			
.tableFont1 { 
	margin-left:25px;
	margin-top:0px;
	margin-right:10px;
	margin-bottom:0px;
	font-family: "Calibri", Arial, sans-serif;
	font-size:14px; 
	text-align: left;
}			

.divYearList {
	height: 340px;
	overflow-y: scroll;
	font-size: 16px;
	padding-left: 10px;
}

p.footer {
	font-size: 13px;
	margin-top:0px;
	margin-bottom:0px;	
	font-family: "Calibri", Arial, sans-serif;
	color:#94948f;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#menu {
	height:30px;
	background-image:url(../images/menu_BG.gif);
	background-repeat:repeat-x;
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
}

#menu1 {
	/*height:30px;*/
	background-image:url(../images/menu_BG.gif);
	background-repeat:repeat-x;
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
}

#menuItems, #menuItems1 {
	height: 30px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	cursor:pointer;
	margin-bottom:0px;
}

#menuItems a {
	text-decoration:none;
	color:  #94948f;
	padding-right:5px;
	padding-left:5px;
	border-left:1px none #808182;
	margin-bottom:0px;
}

#menuItems1 a {
	text-decoration:none;
	color:  #000000;
	margin-left:15px;
	margin-right:15px;
	border-left:1px none #808182;
	margin-bottom:0px;
}

#menuItems, #menuItems1 a:hover {
	color:#b31b1b;
}

a.caption1:hover, a.caption2:hover, #menuItems a:hover, #menuItems1 a:hover, a.captionLinks:hover, #headlineLinks:hover, #footerLinks:hover {
	color:#b31b1b;
}

img.pdf {
	margin-left:20px;
	margin-right:5px;
}

/* Search page for the homepage */
form {
	margin-left: 50px;
}

.search {
	width:300px;
	height:25px;
	margin-bottom:10px;
}

.options {
	margin-bottom:10px;
	margin-left:15px;
}

.indent {
	padding-left: 31pt;
	text-indent: -31pt;
}

.summary {
	padding-left: 61pt;
	font-size: 12.5px;
}

#news {
	margin-left:0px;
	margin-top: 0px;
	margin-right:0px;
	padding-bottom: 8px; 	
	height:99%;
	width:49%;
	height: 140%;
	float:right;
}

#headlines {
	height:55%;
	margin-bottom: 55px;
}

#features {
	height:35%;
}

#facebookIcon {
	width:52%;
	height:27px;
	margin-top:8px;
	margin-left:2%;
	float:left;
}

#fb-root {
	float:right;
	margin-top: 13px;
	width: 43%;
}

#fb-icon {
	border-color: #ffffff;
}

#headerHole {
	width: 192px;
	height: 50px;
	border-style:solid;
	float:left;
	background-color:#ffffff;
}

#g {
	margin-top:18px;
	margin-left:50px;
	float:left;
	position:relative;
}

 /* For Static Pages */
#menuStaticPages {
	height:30px;
	background-image:url(../images/menu_BG.gif);
	background-repeat:repeat-x;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
}

#menuItemsStaticPages {
	height: 20px;
	width: 960px;
	cursor:pointer;
	margin-bottom:0px;
	margin-left: auto;
	margin-right: auto;
}

#menuItemsStaticPages a {
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
	text-decoration:none;
	color: #808182;
	padding-right:5px;
	padding-left:5px;
	border-left:1px solid #808182;
	margin-bottom:0px;
}

#menuItemsStaticPages a:hover {
	color:#b31b1b;
}

#search_form {
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
	text-decoration:none;
	color: #808182;
	padding-right:0px;
	padding-left:0px;
	margin-bottom:0px;
	margin-right: 0px;
	margin-left: 0px;
	display:inline;
}

.classname {
	border:1px solid #dcdcdc;
	color:#777777;
	font-weight:bold;
}

.classname:active {
	position:relative;
	top:1px;
}

#content{ padding:10px 30px; margin-bottom: 30px;}
.clearfix{ display: block; height: 30px; clear: both;}
.details{ margin:15px 20px; }	
#reference{ margin-bottom:10px; height: 40px;}